# 設定ファイル
**/.DS_Store
**/.idea
**/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# モジュール類
node_modules

# ビルド時のディレクトリ
/dist

# env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
