.card-list {
	width: 100%;
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	&__link {
		color: white;
		text-decoration: none;

		&:hover {
			color: cornflowerblue;
			text-decoration: underline;
		}
	}

	&__title {
		font-size: 1rem;
		margin-bottom: .2em;
	}

	&__channel {
		font-size: .8rem;
	}

	&__imgwrap {
		margin-bottom: .5em;

		& > img {
			width: 100%;
		}
	}
}
